@media screen and (max-width: 992px) {


    .header-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-brand2 {
        display: block;
    }

    .navbar-nav a {
        text-align: center !important;
    }

    .navbar-toggler {
        left: 5%;
        top: 10px;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
    }

    .purchase img {
        position: relative !important;
        display: block;
        left: 10%;
        top: 50px;
        width: 70%;
    }

    .purchase h2 {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase p {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase-btn {
        margin-left: auto;
        display: block;
        margin-right: 5px;
    }

    .purchase-link {
        margin-right: auto;
        margin-left: 5px;
    }

    .first-block {
        margin-top: 200px;
    }

    .first-block p {
        text-align: center;
    }

    .first-block h3,
    p {
        max-width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .first-img {
        display: none !important;
    }

    .icons {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .second-block-inner {
        margin: 0;
    }

    .second-block img {
        max-width: 30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .second-block p,
    h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 70%;
        width: 100%;
    }

    .f-footer ul {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .f-footer span {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .f-footer {

        display: flex;
        flex-direction: column !important;
    }

}