@media screen and (max-width: 992px) {


    .header-btn {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-brand2 {
        display: block;
    }

    .navbar-toggler {
        left: 50px;
        top: 10px;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
    }

    .purchase img {
        position: relative !important;
        display: block;
        left: 10%;
        top: 50px;
        width: 70%;
    }

    .purchase h2 {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase p {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .purchase-btn {
        margin-left: auto;
        display: block;
        margin-right: 5px;
    }

    .purchase-link {
        margin-right: auto;
        margin-left: 5px;
    }

    .powerful {
        margin-top: 200px;
    }

    .powerful p {
        text-align: center;
    }

    .powerful h3, p {
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .powerful img {
        margin-top: 20px;
        max-width: 700px;
        width: 60%;
        flex-wrap: nowrap;
    }
}